#next-prompt {
    /* positioning/size */
    position: inherit;
    display: none;

    /* visual properties */
    font-size: 100px;
    color:whitesmoke;

    /* animation */
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 0.33s;
    animation-name: dialogue-next;
}

#clerk-name {
    /* positioning/size */
    position: fixed;
    top: 58%;
    left: 10%;
    padding: 0.25em 0.75em 0.25em 0.75em;

    /* visual properties */
    color: whitesmoke;
    background-color: black;
    border-radius: 25px;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 5px;
    display: inherit;

    /* animation */
    animation-duration: 0.5s;
}

.dialogue-box {
    /* positioning/size */
    position: fixed;
    top: 65%;
    left: 5%;
    margin: 0.5em;
    padding: 2em 0.5em 2em 0.5em;
    width: 85%;
    height: 20%;
    user-select: none;

    /* centering dialogue text */
    display: none;
    align-items: center;
    justify-content: center;

    /* visual properties */
    background-color: rgb(2, 3, 31);
    border-style: solid;
    border-color: whitesmoke;
    border-width: 10px;
    border-radius: 25px;

    /* animation properties */
    animation-duration: 0.5s;
}

.dialogue {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: bold;
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
}

#dialogue-options {
    /* positioning / size */
    position: fixed;
    display: none;
    flex-direction: column;
    top: 10%;
    left: 5%;
    width: 35%;

    /* animation properties */
    animation-duration: 0.5s;
}

.option {
    /* positioning/size */
    position: relative;
    margin-bottom: 1em;
    padding: 0.5em 1em 0.5em 1em;

    /* visual properties */
    font-size: 25px;
    background-color: rgb(2, 3, 31);
    border-style: solid;
    border-color: whitesmoke;
    border-width: 5px;
    border-radius: 25px;
}

.option:hover {
    background-color: rgb(2, 3, 135);
    border-color: white;
    border-width: 5px;
}

.option:active {
    background-color: rgb(2, 50, 175);
    border-color: white
}