/* Container for project */
.project-box {
    /* positioning/size */
    position: fixed;
    top: 2%;
    left: 5%;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 1vw 0.5vh 1vw 0.5vh;
    width: 85%;
    height: 95%;

    /* centering dialogue text */
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

    /* visual properties */
    user-select: none;
    color: whitesmoke;
    background-color: rgb(2, 3, 31);
    border-style: solid;
    border-color: whitesmoke;
    border-width: 1vw;
    border-radius: 3vw;

    /* animation properties */
    animation-duration: 0.5s;
}

/* Embed elements */
#embed-window {
    background-color: rgba(0, 0, 0, 0.75);

    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
}

#game-embed {
    width: 100%;
    height: 90%;

    /* center game window */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#embed-close {
    /* positional */
    position: absolute;
    right: 2rem;
    top: 1rem;

    /* visuals */
    font-weight: bold;
    font-size: 10vh;
    background-color: transparent;
    color: lightslategray;
    border-width: 0;
}

#embed-close:hover {
    color: white;
    cursor: pointer;
}

#play-embed {
    /* positional */
    position: absolute;
    right: 5%;
    top: 5%;
    padding: 12px;

    /* font properties */
    font-weight: bold;
    font-size: 4vh;

    /* visuals */
    color: rgb(2, 3, 31);
    background-color: whitesmoke;
    border-style: solid;
    border-color: lightslategray;
    border-width: 5px;
    border-radius: 25px;
}

#play-embed:hover {
    background-color: rgb(2, 3, 31);
    border-color: whitesmoke;
    color: white;
}

/* Container elements */
#project-name {
    font-size: 6vh;
    letter-spacing: 0.5vw;
    margin: 0;
    text-align: center;
}

#preview-carousel {
    position: relative;
    width: 95%;
    height: 45%;
    margin-bottom: 0.5vh;
}

#preview-images {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel-button {
    /* Functionality */
    user-select: none;

    /* Positioning */
    position: absolute;

    /* Visuals */
    font-family: "Pixelify Sans", "sans-serif";
    font-size: 72px;
    color: rgb(221, 221, 221);
    background: none;
    border: none;

    /* Animation */
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 0.33s;
    transition: transform 0.2s ease-in-out;
}

.left {
    top: 30%;
    left: 2%;
    animation-name: preview-left;
}

.right {
    top: 30%;
    right: 2%;
    animation-name: preview-right;
}

.left:hover {
    color: rgb(255, 255, 255);
    animation-name: preview-left-hover;
}

.right:hover {
    color: rgb(255, 255, 255);
    animation-name: preview-right-hover;
}

.carousel-button:active {
    color: rgb(144, 166, 212);
    transform: scale(0.75);
    animation-name: none;
}

#project-description {
    padding-left: 3%;
    padding-right: 3%;
    text-align: left;
    font-size: 20px;
    white-space: pre-wrap;

    /* Scroll bar visuals */
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: rgb(2, 25, 69) rgb(2, 3, 31);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

#project-close {
    /* Size */
    width: 98%;
    height: 10%;
    margin: 0px;

    /* Visuals */
    background: none;
    border: none;
    border-radius: 25px;
}

#project-close:hover {
    background-color: rgb(10, 10, 77);
}

#project-close-label {
    /* Functionality */
    user-select: none;

    /* Spacing */
    margin: 0px;
    padding: 0px;
    height: 0%;

    /* Visuals */
    position: relative;
    transform-origin: center;
    transform: rotate(90deg) translate(0, -37px);
    font-family: "Pixelify Sans", "sans-serif";
    font-size: 60px;
    color: rgb(0, 81, 255);

    /* Animation */
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 0.33s;
    animation-name: project-close;
}

@media only screen and (max-width: 600px) {
    .project-box {
        top: 0%;
        left: 0%;
        margin: 0px;
        border-radius: 0px;
        border: none;
        width: 100%;
        height: 100%;
        padding: 1vw;
    }
}